/clientManagerV1/vendor/
/clientManagerV2/vendor/
/clientManagerV3/vendor/
/clientManagerV1/.env
/clientManagerV2/.env
/clientManagerV3/.env
/clientManagerV1/composer.lock
/clientManagerV2/composer.lock
/clientManagerV3/composer.lock